<h2>Hexane - LLMs on your data.</h2>
<p>
    Forget sifting through haystacks of information; our similarity search
    extracts the essence of your dataset, empowering you to query LLMs directly
    for targeted, insightful results.
</p>

<p class="status">
    Hexane is currently in testing phase. Feedback is welcome! Drop us a line at
    <a href="mailto:hexane@unfla.me">hexane@unfla.me</a> with your thoughts.
</p>

<h3>Get started in 2 steps!</h3>
<ol>
    <li>Add files to <a href="/datasources">datasources</a></li>
    <li><a href="/query">Query</a> your files after they've been processed</li>
</ol>


<h3>Pricing.</h3>
<p>Get <strong>20 credits free</strong> on <a href="/account/register">signup</a>.</p>
<p>You will be able to evaluate the product with free credits granted on signup.</p>
<ul>
    <li>Embeddings: 0.04 per 1000 tokens</li>
    <li>Query: 0.5 (input), 2.0 (output) per 1000 tokens</li>
</ul>

<p>Reach out to <a href="mailto:hexane@unfla.me">hexane@unfla.me</a> for any
queries.</p>
